@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

/*Generic CSS*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-main: 'Oswald', sans-serif;

    --fs-xl: 3rem;
    --fs-600: 2rem;
    --fs-500: 1.25rem;
    --fs-550: 1.5rem;
    --fs-400: 1rem;
    --fs-200: .75rem;

    --fw-regular: 400;
    --fw-bold: 700;

    --primary-color: #faebd7;
    --secundary-color: #126000;
    --dark-color: #b4a38e;
    --player: #ffbd2f;
}

body,
input,
textarea,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-main);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    color: #161616;
}

button {
    appearance: none;
    border: none;
    background: none;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

html, body { 
    overscroll-behavior-y: none; 
    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #001635;
    background-color: var(--primary-color);
}

main, #root {
    width: 100%;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Game */

.main-game {
    max-width: 500px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/* Header */

.header-game {
    /* width: 100%; */
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: .25rem;
}

.timer {
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
}

/* Table */

.table {
    aspect-ratio: 1/1;
    width: 80%;
    display: grid;
    border-radius: 5px;
    user-select: none;
}

.wall, .border { background-color: var(--secundary-color) }
.in, .start, .end { background-color: var(--primary-color) }
.path { background-color: #aea59a }
.frontier { background-color: blue }
.actual { background-color: red }
.trail{ opacity: .4 }

.player, .trail { background-color: var(--player) }

.bttn {
    background-color: var(--secundary-color);
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    font-size: var(--fs-400);
    transition: all .1s ease-in;
}

.bttn:hover {
    transform: scale(1.1);
}

.bttn-plus {
    font-size: var(--fs-500);
    padding: .5em;
}

.bttn > label {
    display: block;
    width: 100%;
    height: 100%;
    padding: .5em;
    cursor: pointer;
}

/* SVG */

.github-svg {
    height: 50px;
    width: 50px;
}

.logo-svg {
    width: 300px;
}

.logo-svg > polygon, .logo-svg > path, .github-svg > path {
    fill: var(--secundary-color);
}

.timer-svg {
    font-size: var(--fs-550);
}

/* Menu */

.main-menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section-menu {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    align-items: center;
}

.input-size {
    text-align: center;
    border: 4px solid var(--secundary-color);
    padding: 5px;
    width: 100px;
    font-size: var(--fs-500);
}

.option-wrapper, .header-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option-wrapper {
    padding-bottom: 1rem;
}

.option-wrapper:last-child {
    border-bottom: 4px dashed var(--secundary-color);
}

.option-wrapper:before {
    content: '';
    position: absolute;
    transform: translateY(-50%);
    top: 1rem;
    width: 300px;
    height: 4px;
    border-bottom: 4px dashed var(--secundary-color);
    z-index: -999;
}

.option-wrapper > h3 {
    background-color: var(--primary-color);
    padding: .2rem .2rem;
}


.difficult-radio, .zen-checkbox {
    display: none;
}

.bttns-wrapper {
    display: flex;
    width: 250px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.bttns-wrapper > .bttn {
    flex: 1 1 0px;
}

.bttn.active {
    background-color: var(--primary-color);
    box-shadow: inset 0 0 0 4px var(--secundary-color);
    color: var(--secundary-color);
}

.switch {
    position: relative;
    height: 30px;
    width: 60px;
    /* border-radius: 99px; */
    background-color: var(--secundary-color);
}

.switch:before {
    content: 'OFF';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 7px;
    font-size: var(--fs-200);
    color: var(--primary-color);
    pointer-events: none;
}

.switch:after {
    content: 'ON';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7px;
    font-size: var(--fs-200);
    color: var(--primary-color);
    pointer-events: none;
}

.info {
    position: absolute;
    left: 105%;
    top: 0;
    cursor: pointer;
}

.info-container {
    position: absolute;
    left: 145%;
    top: 0;
    width: max-content;
    padding: .2em .4em;
    background-color: var(--dark-color);
    transition: opacity .2s ease;
    border-radius: 5px;
}

.info-container::before {
    content: '';
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    width: 10px;
    height: 10px;
    background-color: var(--dark-color);
    position: absolute;
    top: 0;
    left: -5px;
}

.zen-ball {
    aspect-ratio: 1/1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    /* border-radius: 50%; */
    background-color: var(--primary-color);
    transition: all .2s ease;
    pointer-events: none;
}

.zen-ball:not(.active) { 
    left: 5px; 
    right: calc(100% - 5px);
}

.zen-ball.active {
    right: 5px;
    left: 100%; 
    transform: translate(calc(-100% - 5px), -50%);
}

.zen-label {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Footer */

.footer {
    position: fixed;
    display: flex;
    align-items: end;
    justify-content: end;
    bottom: 20px;
    right: 20px;
}

/* Game over */

.main-game-over {
    max-width: 500px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.main-game-over > h1 {
    font-size: var(--fs-xl);
    font-weight: var(--fw-bold);
}

.score-wrapper {
    font-size: var(--fs-500);
}

.score-wrapper > span {
    font-weight: var(--fw-bold);
}

/* Extra */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}